<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout1"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="p-3" layout:fragment="content" >
    <div class="p-3" sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-primary" th:href="@{/admin/newProduct}">New Product</a>

    </div>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th></th>
        </thead>

        <tbody>
        <tr th:each="p:${productList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <div class="d-flex">
                    <form method="post" th:action="@{/admin/delete(id=${p.id})}" onsubmit="return confirm('Êtes-vous sûr ?');" class="me-2">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a th:href="@{'/admin/update/' + ${p.id}}" class="btn btn-primary">Update</a>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>